:root {
    --bg-color:  #0E1827;
    --fg-color1: #FFF;
    --fg-color2: #AAA;
    --highlight: #9AA9FB;

    background-color: var(--bg-color);
    color: var(--fg-color1);
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    max-width: 864px;
    margin: 0 auto;
}

mark {
    background-color: var(--highlight);
}

nav h3, body > footer, a, a:link, a:visited, a:hover, a:active {
    color: var(--fg-color2);
    outline: 0;
}

a:hover, a *:hover {
    color: var(--highlight);
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px 10px 10px 10px;
    margin: 0;
    color: var(--highlight);
    font-weight: normal;
}

header, nav, footer {
    display: flex;
}

ul {
    list-style: none;
    padding-left: 1vw;
}

li::before {
    color: var(--highlight);
    content: "\25BA";
    margin-right: 5px;
}

hr {
    border: 3px dotted var(--highlight);
    height: 3px;
}

main > hr, body > hr {
    border: 1px solid hsla(0,0%,100%,0.1);
    height: 0px;
}

section > header {
    justify-content: space-between;
}

section > footer {
    justify-content: right;
}

body > footer {
    flex-direction: column;
    font-size: 0.8em;
    text-align: center;
}

body > header {
    flex: 1;
    background: repeating-linear-gradient(45deg,var(--highlight),var(--highlight) 10px,transparent 0,transparent 15px);
}

body > header h3 {
    color: var(--bg-color) !important;
}

code {
    color: #c48a90;
    background-color: #041229;
    margin: 0px 2px;
}
