a, a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: inherit;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid var(--fg-color2);
    margin: 1em 0;
    padding: 0;
}

.center {
    border: none;
    margin: 0 auto;
}

body {
    background-color: #0E1827;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-logo {
    display: flex;
    flex: 1;
}

.header-logo::after {
    content: "";
    background: repeating-linear-gradient(45deg,var(--highlight),var(--highlight) 10px,transparent 0,transparent 15px);
    width: 100%;
}

.logo {
    background: var(--highlight);
    color: #0E1827;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
}

.nav li {
    color: var(--fg-color2);
    font-size: 1.25rem;
    margin-right: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 864px;
    min-height: 100vh;
}

.seperator {
    border: 3px dotted var(--highlight);
    height: 3px;
}

.preview-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    color: var(--highlight);
    border-bottom: 3px dotted var(--highlight);
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.preview-name {
    color: var(--highlight);
}

.preview-body {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.preview-date {
    font-size: 1.5rem;
}

.preview-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.preview-tags {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.preview-tags li {
    background-color: var(--highlight);
    color: #0E1827;
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
    margin-right: 20px;
}

.read-more {
    color: var(--highlight);
    font-size: 1.25rem;
}

footer {
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-top: 40px;
    color: var(--fg-color2);
}

